.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess
!system/.htaccess
!system/*/.htaccess

composer.lock
*.notes

database.php

/vendor/
/theme/

*.zip
*.sql

*.htaccess

/uploads/images/*
/uploads/resumes/*
/assets/video/*